body {
	margin: 0;
	padding: 0;
}

/* NAV BAR */

.NavBar {
	border-bottom: .5px solid rgb(255, 255, 255);
	padding: 0 0 0 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #12032d;
}

.nav-links {
	right: 10px;
	display: flex;
	justify-content: space-between;
}

.nav-links a {
	font-size: 18px;
	margin-right: 1rem;
	text-decoration: none;
	color: white;
	text-shadow: 1px 1px #dc2f2370;
}

.nav-links a:hover {
	color: rgb(165, 164, 164);
}

.nav-form {
	margin-right: 1rem;
}

.nav-form input {
	margin-right: .5rem;
}

.nav-form input[type=submit] {
	width: 4rem;
	font-size: 25px;
}

.emblem-img {
	background-color: white;
	border: 2px solid rgb(255, 255, 255);
	width: 60px;
	border-radius: 50%;
}

/* Landing Page */

.LandingPage {
	/* border: 1px solid red; */
	width: 100vw;
	height: 100vh;
}

.landing-photo {
	display: flex;
	background-image: url('https://miro.medium.com/max/3002/1*dP81IJq-tGFxy1rIK3RYsg.png');
	background-size: cover;
	background-repeat: no-repeat;
	height: 70%;
	align-items: center;
	justify-content: center;
}

.features {
	border: 0.5px solid rgb(255, 255, 255);
	height: 30%;
	display: flex;
	flex-direction: row;
	background-color: #12032d;
	font-size: 18px;
	color: white;
	text-shadow: 1px 1px #dc2f2370;
	padding: 1rem;
}

.landing-feature {
	width: 100%;
	border-left: 0.5px solid rgb(255, 255, 255);
	padding-left: 1rem;
	margin-right: 50px;
}
