body {
	margin: 0;
	padding: 0;
}

/* NAV BAR */

.NavBar {
	border-bottom: .5px solid rgb(255, 255, 255);
	padding: 0 0 0 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #000000;
}

.nav-links {
	right: 10px;
	display: flex;
	justify-content: space-between;
}

.nav-links a {
	font-size: 18px;
	margin-right: 1rem;
	text-decoration: none;
	color: white;
	text-shadow: 1px 1px black;
}

.nav-links a:hover {
	color: rgb(207, 205, 205);
}

.nav-form {
	margin-right: 1rem;
}

.nav-form input {
	margin-right: .5rem;
}

.nav-form input[type=submit] {
	width: 4rem;
	font-size: 25px;
}

.emblem-img {
	background-color: white;
	border: 2px solid rgb(255, 255, 255);
	width: 60px;
	border-radius: 50%;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #000000a6;
	/* min-width: 160px; */
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	padding: 0;
	z-index: 1;
}

.dropdown-content ul {
	padding-left: 10px;
	list-style-type: none;
}

.dropdown-content li {
	margin-bottom: 1rem;
}

.dropdown-content a {
	color: rgb(255, 255, 255);
	text-align: center;
	font-size: 15px;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.arrow {
	margin-left: .4rem;
	margin-bottom: .1rem;
	border: solid white;
	border-width: 0 2px 2px 0;
	display: inline-block;
	padding: 3px;
}

.down {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

/* Landing Page */

.LandingPage {
	/* border: 1px solid red; */
	width: 100vw;
	height: 100vh;
}

.landing-photo {
	display: flex;
	flex-direction: column;
	background-image: url('https://i.stack.imgur.com/28iBm.png');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	align-items: center;
	justify-content: flex-end;
}

.landing-logo {
	height: 40%;
	font-size: 50px;
	color: white;
	text-shadow: 1px 1px black;
}

.features {
	border-top: 0.5px solid rgb(255, 255, 255);
	height: 30%;
	display: flex;
	flex-direction: row;
	font-size: 15px;
	line-height: 1.5;
	color: white;
	text-shadow: 1px 1px black;
	padding: 1rem;
}

.landing-feature {
	width: 100%;
	border-left: 0.5px solid rgb(255, 255, 255);
	padding-left: 1rem;
	margin-right: 50px;
}

@media only screen and (max-width: 700px) {
	.landing-logo {
		height: 50%;
		font-size: 50px;
		color: white;
		text-shadow: 1px 1px black;
	}

	.features {
		height: 100%;
		display: flex;
		flex-direction: column;
		font-size: 15px;
		line-height: 1.5;
		color: white;
		text-shadow: 1px 1px black;
		padding: 1rem;
	}

	.landing-feature {
		width: 100%;
		padding-left: 1rem;
		padding-right: 1rem;
		margin-right: 50px;
	}
}

/* DASHBOARD */

.Dashboard {
	width: 100vw;
	height: 100vh;
	background-image: url('https://i.stack.imgur.com/28iBm.png');
	color: white;
	text-shadow: 1px 1px black;
}

.dashboard-search {
	width: 80%;
	height: 3%;
	margin-left: 2rem;
	margin-bottom: 1rem;
	border-radius: 3px;
}

.dashboard-content {
	display: flex;
	flex-direction: row;
}

.dashboard-list {
	padding-top: 1rem;
	width: 50%;
	margin-left: 1rem;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.lead-segment {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-left: 1rem;
}

.lead-segment h3 {
	margin-bottom: 1.5rem;
}

.lead-segment button {
	align-self: center;
	width: 40px;
	height: 25px;
	border-radius: 12px;
	margin-right: 1rem;
}

.lead-segment button:hover {
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
	cursor: pointer;
}

/* DASHBOARD TABLE */

.Dashboard {
	position: fixed;
}

.Dashboard h1 {
	font-size: 30px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 300;
	text-align: center;
	margin-bottom: 15px;
}

.Dashboard table {
	width: 100%;
	table-layout: fixed;
}
.tbl-header {
	background-color: rgba(255, 255, 255, 0.3);
}
.tbl-content {
	height: 400px;
	overflow-x: auto;
	margin-top: 0px;
	border: 1px solid rgba(255, 255, 255, 0.3);
}
.Dashboard th {
	padding: 20px 15px;
	text-align: left;
	font-weight: 500;
	font-size: 12px;
	color: #fff;
	text-transform: uppercase;
}
.Dashboard td {
	padding: 15px;
	text-align: left;
	vertical-align: middle;
	font-weight: 300;
	font-size: 13px;
	color: #fff;
	border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

.dash-company-row:hover {
	background-color: rgba(255, 255, 255, 0.3);
	cursor: pointer;
}

/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
	width: 6px;
}
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* COMPANY DETAILS */

.CompanyDetail {
	width: 100vw;
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.selected-company {
	display: flex;
	flex-direction: row;
	text-align: center;
	font-size: 25px;
}

.selected-content a {
	text-decoration: none;
	color: white;
	text-shadow: 1px 1px black;
}

.selected-content a:hover {
	color: rgb(207, 205, 205);
}

.selected-button {
	margin-left: 1rem;
	height: 30px;
	width: 50px;
	border-radius: 12px;
	margin-bottom: 2rem;
	align-self: flex-end;
}

.selected-button:hover {
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
	cursor: pointer;
}

/* Prospecting */

.Prospecting {
	width: 100vw;
	height: 100vh;
	color: white;
	text-shadow: 1px 1px black;
	background-image: url('https://i.stack.imgur.com/28iBm.png');
	position: fixed;
}

.Prospecting h1 {
	font-size: 30px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 300;
	text-align: center;
	margin-bottom: 15px;
}

.Prospecting table {
	width: 100%;
	table-layout: fixed;
}

.tbl-header {
	background-color: rgba(255, 255, 255, 0.3);
}
.tbl-content {
	height: 400px;
	overflow-x: auto;
	margin-top: 0px;
	border: 1px solid rgba(255, 255, 255, 0.3);
}
.Prospecting th {
	padding: 20px 15px;
	text-align: left;
	font-weight: 500;
	font-size: 12px;
	color: #fff;
	text-transform: uppercase;
}
.Prospecting td {
	padding: 15px;
	text-align: left;
	vertical-align: middle;
	font-weight: 300;
	font-size: 13px;
	color: #fff;
	border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

.prospecting-company-row:hover {
	background-color: rgba(255, 255, 255, 0.3);
}

.prospecting-company-row button:hover {
	cursor: pointer;
}

/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
	width: 6px;
}
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* LOADING SPINNER */

/* Absolute Center Spinner */
.loading {
	position: fixed;
	z-index: 999;
	height: 2em;
	width: 2em;
	overflow: visible;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

/* Transparent Overlay */
.loading:before {
	content: '';
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
	/* hide "loading..." text */
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}

.loading:not(:required):after {
	content: '';
	display: block;
	font-size: 10px;
	width: 1em;
	height: 1em;
	margin-top: -0.5em;
	-webkit-animation: spinner 1500ms infinite linear;
	-moz-animation: spinner 1500ms infinite linear;
	-ms-animation: spinner 1500ms infinite linear;
	-o-animation: spinner 1500ms infinite linear;
	animation: spinner 1500ms infinite linear;
	border-radius: 0.5em;
	-webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0,
		rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0,
		rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
	box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0,
		rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0,
		rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@-moz-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@-o-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
